html {
  height: 100%; }
  html body {
    height: 100%; }
    html body div#root {
      height: 100%; }
    html body ul {
      padding-left: 0; }
      html body ul li {
        list-style-type: none; }

.App {
  height: 100%; }
  .App .head nav {
    position: fixed;
    z-index: 8;
    width: 100%;
    padding: 10px 10px;
    box-shadow: 0 0 10px #A6A6A6; }
  .App .head .form {
    display: flex;
    justify-content: space-between;
    width: 80%; }
    .App .head .form input {
      margin-right: 5px; }
  .App .form-group {
    margin-bottom: 0; }
  .App .end {
    text-align: right; }
    .App .end span {
      padding-right: 10px;
      color: #B9B9B9;
      text-shadow: 1px 1px 0.5px #D9D9D9; }
  .App .filter {
    padding: 0; }
  .App .first input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .App .first input:focus {
    border-color: #d7d7d7;
    outline: solid 1px #597ea2;
    box-shadow: 0 0 0 #fff; }
  .App .middle select {
    border-radius: 0; }
  .App .middle input {
    border-radius: 0;
    border-left: solid 0px #597ea2; }
  .App .middle select:focus {
    border-color: #d7d7d7;
    outline: solid 1px #597ea2;
    box-shadow: 0 0 0 #fff; }
  .App .middle input:focus {
    border-color: #d7d7d7;
    outline: solid 1px #597ea2;
    box-shadow: 0 0 0 #fff; }
  .App .last button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: solid 1px #D7D7D7;
    border-left: solid 0px #D7D7D7;
    color: #878787; }
  .App .last button:hover {
    background-color: #D2D8EB;
    color: #F9F9F9; }

.left-navbar {
  position: fixed;
  background-color: white;
  z-index: 10;
  height: 100%;
  box-shadow: 0 0 50px 10px #5a5a5a;
  animation: getleftNav 0.3s; }
  .left-navbar a.nav-link {
    color: #000;
    text-align: left;
    background-color: white;
    border: 0;
    width: 250px; }
  .left-navbar a.nav-link:hover {
    background-color: rgba(233, 233, 233, 0.51); }
  .left-navbar a.nav-link:focus {
    outline: 0;
    border-left: solid 5px #D2DFFF; }
  .left-navbar hr {
    border: solid 0.5px #ECECEC;
    width: 100%;
    margin-top: 3px; }
  .left-navbar .navbar-head {
    display: flex;
    padding-top: 11px;
    margin-bottom: 0px; }
    .left-navbar .navbar-head .el {
      padding-left: 10px; }
      .left-navbar .navbar-head .el button {
        border: 0;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        margin-top: -6px;
        background-color: white; }
      .left-navbar .navbar-head .el button:hover {
        background-color: rgba(233, 233, 233, 0.51); }
      .left-navbar .navbar-head .el button:focus {
        outline: none; }

.modal-shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 9;
  animation: getShadow 0.3s; }

.content {
  padding-top: 75px; }
  .content .table {
    margin-top: -17px; }
    .content .table tr {
      cursor: default; }
    .content .table .passed {
      background-color: rgba(60, 168, 38, 0.1); }
    .content .table .not-passed {
      background-color: rgba(168, 38, 38, 0.1); }
    .content .table .passed:hover {
      background-color: rgba(60, 168, 38, 0.05); }
    .content .table .not-passed:hover {
      background-color: rgba(168, 38, 38, 0.05); }
    .content .table td, .content .table th {
      vertical-align: middle; }
    .content .table .sort-btn th {
      cursor: pointer; }
    .content .table .sort-btn th[data-name=customer] {
      width: 15%; }
    .content .table .sort-btn th[data-name=date] {
      width: 10%; }
    .content .table .sort-btn th[data-name=name] {
      width: 15%; }
    .content .table .sort-btn th[data-name=contacts] {
      width: 30%; }
    .content .table .sort-btn th[data-name=product] {
      width: 20%; }
    .content .table .sort-btn th[data-name=price] {
      width: 5%; }
  .content .customers {
    margin-top: -17px; }
    .content .customers .sort-btn th {
      cursor: pointer; }
    .content .customers .sort-btn th[data-name=customer] {
      width: 23%; }
    .content .customers .sort-btn th[data-name=count] {
      width: 7%; }
    .content .customers .sort-btn th[data-name=date] {
      width: 8.5%; }
    .content .customers .sort-btn th[data-name=true_amount] {
      width: 8%; }
    .content .customers .sort-btn th[data-name=total_amount] {
      width: 8%; }
    .content .customers .sort-btn th[data-name=deviation] {
      width: 5%; }
    .content .customers .sort-btn th[data-name=percent] {
      width: 5%; }
    .content .customers .sort-btn th[data-name=RFM] {
      width: 5%; }

.add-order p {
  margin-bottom: 2px; }

.add-order .products-list {
  display: flex; }
  .add-order .products-list div {
    margin-right: 20px; }

.add-order .btn-sm {
  margin-top: 10px; }

.add-order .form-group button {
  margin-top: 20px; }

.period-setting .form-group button {
  margin-top: 20px; }

@keyframes getShadow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes getleftNav {
  from {
    transform: translateX(-150px); }
  to {
    transform: translateX(0); } }

.entrance {
  border: solid 1px red;
  box-shadow: inset 0 0 6px 0px #772b2b;
  display: flex;
  margin: 10px 50px; }

.alert {
  position: fixed;
  z-index: 9999;
  width: 120%;
  animation-name: alert;
  animation-duration: 2s;
  transform: translateY(-50px);
  opacity: 0.9; }

@keyframes alert {
  from {
    transform: translateY(-50px); }
  10%, 90% {
    transform: translateY(0px); }
  to {
    transform: translateY(-50px); } }

.main-analisis .card {
  margin-bottom: 20px; }

.main-analisis .schedule select, .main-analisis .diagram select {
  border: solid 0px #fff;
  color: #555;
  width: auto; }

.main-analisis .schedule select:focus, .main-analisis .diagram select:focus {
  outline: solid 0px #fff; }

.main-analisis .schedule .diagram-tooltip, .main-analisis .diagram .diagram-tooltip {
  background-color: #212121;
  box-shadow: 0 0 2px #202020;
  padding: 5px;
  border-radius: 5px; }
  .main-analisis .schedule .diagram-tooltip p, .main-analisis .diagram .diagram-tooltip p {
    margin: 0;
    padding: 0; }

.edit-order {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .edit-order .my-modal {
    display: flex;
    width: 80%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #4F4F4F;
    border-radius: 5px;
    z-index: 10;
    padding: 20px 20px 10px 20px;
    animation: modal 0.1s; }
    .edit-order .my-modal .my-modal-content {
      width: 100%; }
      .edit-order .my-modal .my-modal-content p {
        margin: 0; }
      .edit-order .my-modal .my-modal-content .header {
        display: flex; }
        .edit-order .my-modal .my-modal-content .header h5 {
          margin: 2px 0 0 0; }
        .edit-order .my-modal .my-modal-content .header button {
          padding: 0 12px 10px 12px;
          color: rgba(163, 163, 163, 0.2); }
        .edit-order .my-modal .my-modal-content .header button:hover {
          color: #A3A3A3; }
      .edit-order .my-modal .my-modal-content input {
        border: solid 0px #fff;
        border-bottom: solid 1px #D6D6D6;
        width: 300px; }
      .edit-order .my-modal .my-modal-content input:focus {
        outline: solid 0px #fff; }
      .edit-order .my-modal .my-modal-content .modal-footer {
        border: solid 0px #fff; }

.login {
  height: 100%; }
  .login .row {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center; }

@keyframes modal {
  from {
    transform: scale(2);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
